<footer class="container">
  <div class="row py-5 my-5">
    <div class="col-12 text-center">
      <p class="">A tiny sideproject by
        <a href="https://github.com/holger1411" class="link-fancy">Holger Koenemann</a>.
        <br/>
        Made with
        <a href="http://11straps.com" target="_blank">11straps</a>
        in lovely Hannover, Germany</p>
    </div>
  </div>
</footer>
