<li class="nav-item">
    <a class="nav-link" href="{{ 'index.html' | url }}">
      Start
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pages
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a class="dropdown-item" href="{{ 'terms.html' | url }}">Terms</a>
      </li>
      <li>
        <a class="dropdown-item" href="{{ 'pricing.html' | url }}">Pricing</a>
      </li>
    </ul>
  </li>
