---
title: Hero with CTA and code example side-by-side
handle: hero3
date: Created
summary:
---

<div class="row py-5 my-5 d-flex justify-content-center">
  {% include "code/"+handle+".njk" %}
</div>
