html {
  scroll-behavior: smooth;
}

.btn,
.megamenu.show,
.nav-link.collapsed,
.scrolled,
.shadow,
.shadow-light,
.preloader,
a,
a.link-line,
a.link-line:before,
a.hover-hide,
a.hover-content,
a.hover-hide::before,
a.hover-hide .hover-content,
img {
  transition: all 0.5s ease-in-out 0s;
}

.transform-scale:hover {
  transform: scale(1.5,1.5);
}

.display-huge {
  font-size: calc( 5rem + 3vw );
}


.intro-content::first-letter {
    float: left;
    font-size: 4.5em;
    padding: .15em .25em 0 0;
    line-height: 4.5rem;
}
