html {
  scroll-behavior: smooth;
}

.btn,
.megamenu.show,
.nav-link.collapsed,
.scrolled,
.shadow,
.shadow-light,
.preloader,
a,
a.link-line,
a.link-line:before,
a.hover-hide,
a.hover-content,
a.hover-hide::before,
a.hover-hide .hover-content,
img {
  transition: all 0.5s ease-in-out 0s;
}

.transform-scale:hover {
  transform: scale(1.5,1.5);
}
