---
layout: layouts/default.njk
title: Kitchensink
eleventyExcludeFromCollections: true
navbar: navbar1
footer: footer2
colorModifier: primary
permalink: "kitchensink.html"
---
<div class="wrapper bg-light py-vh-5">
<div class="container">
  <div class="row d-flex justify-content-center">
      {% include "code/hero1.njk" %}
  </div>
</div>
</div>

<div class="container">
  <div class="row py-vh-4">
      {% include "code/hero2.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/hero3.njk" %}
  </div>
  <div class="py-vh-4">
      {% include "code/hero4.njk" %}
  </div>
  <div class="py-vh-4">
      {% include "code/hero5.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/hero6.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/hero7.njk" %}
  </div>

  <div class="row py-vh-4">
      {% include "code/hero8.njk" %}
  </div>

  <div class="row py-vh-4">
      {% include "code/hero9.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/companystats1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/feature1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/feature2.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/feature3.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/feature4.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/feature5.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/feature6.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/gallery1.njk" %}
  </div>
  <div class="row py-vh-4 d-fex justify-content-center">
      {% include "code/gallery2.njk" %}
  </div>
  <div class="row">
      {% include "code/gallery3.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/newsletterform1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/newsletterform2.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/personalstats1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/pricing1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/pricing2.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/pricing3.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/registerform1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/registerform2.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/team1.njk" %}
  </div>
  <div class="row py-vh-4">
      {% include "code/trust1.njk" %}
  </div>
  <div class="row py-vh-4  d-flex justify-content-center">
      {% include "code/trust2.njk" %}
  </div>
  <div class="py-vh-4 d-flex justify-content-between">
      {% include "code/trust3.njk" %}
  </div>
</div>
