---
layout: layouts/default.njk
title: Pricing
eleventyExcludeFromCollections: true
navbar: navbar1
footer: footer2
colorModifier: primary
permalink: "pricing.html"
---

<div class="py-vh-4 d-flex align-items-center">
      <div class="container">
{% include "code/intro1.njk" %}
      </div>
    </div>

<div class="bg-light py-vh-4">
  <div class="container">
      {% include "code/pricing3.njk" %}
  </div>
</div>

<div class="bg-white py-vh-3">
  <div class="container">
      {% include "code/faq1.njk" %}
  </div>
</div>

<div class="bg-light">
    <div class="container py-vh-3">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <h3 class="fs-2">Stay in touch with our<span class="fw-bold">
              monthly and free</span>
            newsletter!</h2>
        </div>
        <div class="col-12 col-lg-8 text-center">
          <div class="row">
            {% include "code/newsletterform1.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>
