---
title: Uuuups, thats a 404
layout: layouts/blank.njk
footer: footer2
colorModifier: dark
permalink: 404.html
bodyModifier: d-flex h-100 w-100
---

<div class="d-flex w-100 h-100 p-3 flex-column m-vw-5">
  <header class="mb-auto mt-5">
    <h2 class="h5 py-vh-2">404</h2>
  </header>
  <main>

    <h1 class="display-1 fw-bold">Uuuups, something is missing...</h1>
    <p class="lead">The page you are looking for doesn't exist or has been moved.</p>
    <a href="index.html" class="link-fancy">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Go back to frontpage</a>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
