---
title: Frontpage one
eleventyExcludeFromCollections: true
layout: layouts/default.njk
navbar: navbar1
footer: footer2
colorModifier: primary
---
    <div class="container py-vh-5">
      <div class="row d-flex align-items-center">
        {% include "code/hero2.njk" %}
      </div>
    </div>

    <div class="py-vh-3 bg-light">
      <div class="container">
        <div class="row">
          {% include "code/feature1.njk" %}
        </div>
      </div>
    </div>

    <div class="py-vh-5">
      <div class="container">
        <div class="row  d-flex align-items-center">
          {% include "code/feature4.njk" %}
        </div>
      </div>
    </div>

    <div class="position-relative overflow-hidden bg-light">
          {% include "code/gallery3.njk" %}
    </div>

    <div class="small py-vh-3">
    <div class="container">
      <div class="row">
        {% include "code/feature5.njk" %}
      </div>
    </div>
    </div>

    <div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <h3 class="fs-2 fw-light">Stay in touch with our<span class="fw-bold">
              monthly and free</span>
            newsletter!</h2>
        </div>
        <div class="col-12 col-lg-8 text-center">
          <div class="row">
            {% include "code/newsletterform1.njk" %}
          </div>
        </div>
      </div>
    </div>
