<div class="row">
  <div class="col text-center" data-aos="fade">
    <h2 class="display-6">Let´s start a project together!</h2>
    <p class="lead opacity-75">Hell no! This button is linked to a none working contact form. A none working form without any user feedback. So you might think you done something wrong. But in reality we just don´t want to start anything with you or anyone else. So please stay away.</p>
    <a href="#" class="btn btn-light btn-xl shadow me-3 mt-4" data-aos="fade-down">Get in contact</a>
  </div>
</div>
