
<div class="row d-flex align-items-center">
  <div class="col-7">
  <div class="row gx-5 d-flex">
    <div class="col-md-11">
      <div class="aos-init aos-animate shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/dcb3a83b-640.jpeg'|url}});--bs-aspect-ratio: 50%;">
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="aos-init aos-animate shadow ratio ratio-4x3 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/b3977394-640.jpeg'|url}});">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 aos-init aos-animate shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/9f0c4614-640.jpeg'|url}});--bs-aspect-ratio: 150%;">
      </div>
    </div>
  </div>
</div>
<div class="col-lg-5">
  <span class="text-{{colorModifier}}">Our projects around the globe</span>
  <h2 class="mt-2 mb-4 display-6">What we have done!</h2>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  </p>
  <p>
    <a href="#" class="text-decoration-none  link-{{colorModifier}}">Learn more
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </a>
  </p>
</div>
</div>
