<div class="container-fluid">
  <div class="row d-flex overflow-scroll">
    <div class="col-12">
      <div class="row vw-100 offset-md-2 px-0 py-vh-5 d-flex align-items-center">


        <div class="col-md-2">
            <img src="{{ 'img/363e7da2-1024.jpeg' | url }}" class="w-100 rounded shadow"/>
        </div>

        <div class="col-md-4">
            <img src="{{ 'img/63b92862-1024.jpeg' | url }}" class="w-100 rounded shadow"/>
        </div>

        <div class="col-md-3">
            <img src="{{ 'img/74d6cec4-768.jpeg' | url }}" class="w-100 rounded shadow"/>
        </div>

        <div class="col-md-3">
            <img src="{{ 'img/4e3f26e0-1024.jpeg' | url }}" class="w-100 rounded shadow"/>
        </div>
      </div>
    </div>
   </div>
 </div>
