<div class="col-lg-5" data-aos="fade-right">
  <span class=" fs-5 text-{{colorModifier}}">Lorem ipsum dolor</span>
  <h1 class="display-1 fw-bold">Sell more, sell faster!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  <a href="#" class="btn btn-{{colorModifier}} btn-xl shadow me-3">Get started free</a>

  <span class="fs-1 text-{{colorModifier}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-play-circle mt-2" viewbox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
    </svg>
  </span>
  <a href="{{ 'index.html' | url }}" aria-label="Click to open up video player window">Play video</a>
</div>

<div class="col-lg-7 mt-4 mt-lg-0" data-aos="fade-left">
  <img src="{{ 'img/60e54d2c-768.jpeg' | url }}" class="img-fluid rounded shadow" alt="nice hero image" width="654" height="436"/>
</div>
