<div class="grouped-inputs border p-2 rounded bg-light">
  <div class="row">
    <div class="col-12 col-md-8">
      <form class="form-floating">
        <input type="email" class="form-control rounded p-3" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </form>
    </div>
    <div class="col-12 col-md-4 mt-2 mt-md-0">
      <a href="" class="btn btn-{{colorModifier}} py-3 px-5 rounded d-block">Subscribe</a>
    </div>
  </div>
</div>
