<div class="grouped-inputs border border-secondary p-2 rounded-pill">
  <div class="row">
    <div class="col">
      <form class="form-floating">
        <input type="email" class="form-control rounded-pill p-3 bg-black border-secondary" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </form>
    </div>
    <div class="col-auto">
      <a href="" class="btn btn-light py-3 px-5 rounded-pill">Subscribe</a>
    </div>
  </div>
</div>
