<div class="row">
  <div class="col-md-5">
    <span>Our clients</span>
    <h2 class="mt-2 mb-4 display-6">What our clients say about us</h2>
  </div>
  <div class="col-md-7">
    <blockquote>
      <img src="{{ '/img/person2.jpg' | url }}" width="96" class="img-fluid rounded-circle"/>
      <span><span class="fw-bold">John Doe,</span>
        CEO of AccessKey Ltd.</span>
      <div class="fs-4 my-3 fw-light pt-4">“Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolores ratione quas quia fuga quo est similique quam aperiam voluptatum ducimus dignissimos inventore molestiae neque illum, tenetur repudiandae!”</div>
    </blockquote>
  </div>
</div>
